.idea/*

# Visual Studio Code
.vscode/*
#!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

##########################

.env

dist/
node_modules/
build/
.next/
next-env.d.ts
data-joerhoney-com.private-key.pem
